<h1>Your ShoppingCart</h1>
<p>The status is <%= @shopping_cart.status %></p>

<p>Your Meals in the shopping cart</p>
<ul>
  <% @shopping_cart.meals.each do |meal| %>
    <li> <%= meal.name %> </li>
  <% end %>
</ul>
