<ul>
  <% @meals.each do |meal| %>
    <li>
      <%= meal.name %> - <%= link_to "Add to Cart", meal_cart_items_path(meal), method: :posts %>
    </li>
  <% end %>
</ul>

<% if @shopping_cart %>
  <%= link_to 'Check your Cart', shopping_cart_path(@shopping_cart) %>
<% end %>