<ul>
  <% @meals.each do |meal| %>
    <li>
      <%= meal.name %> - <%= link_to "Add to Cart", meal_cart_items_path(meal), method: :posts %>
    </li>
  <% end %>
</ul>

<%# display the button only if the shopping cart exists AND it has meals inside %>
<% if @shopping_cart && @shopping_cart.meals.present? %> 
  <%= link_to 'Check your Cart', shopping_cart_path(@shopping_cart) %>
<% end %>